.list-container 
  //max-width: 15em  
  width: 250px
  margin: 0 30% 0 30%
  text-align: left
  //list-style-position: inside
//  background: blue  

ul 
    //background-color: yellow
    padding: 1em
    //list-style-position: inside

li 
    //background-color: limegreen	
    margin-top: 3px  


